:root {
  /*  change here  */
  --inspiration-color: #008ed4;
  --slightly-black-color: #575757;
  --primary-color: #ed6436;
  --slight-primary-color: rgba(237, 100, 54, 0.5);
  --white-color: #fff;
  --very-slight-white-color: #efefef;
  --black-color: #000;
  --dark-white-color: #d8d8d8;
  --danger-color: #ff0b28;
  --site-padding: 7.8vw;
}

/* start  view*/
.viewAbout {
  position: relative;
  min-height: 106vh;
  padding-bottom: 30vh;
  background-image: url(../assets/images/background_01.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  

  &__p{
      font-size: 1.7rem;
      margin: 2rem 0;
      max-width: 60rem;
  }

  .mainBtn{
      font-size: 1.4rem;
      text-transform: uppercase;
  }

  
}

/* end  view*/

/* start invest */
.invest{
    .box{
        column-gap: 3rem;
    }
    &__left{
        p{
            font-size: 1.8rem;
            line-height: 1.6;
            color: var(--slightly-black-color);

            &:first-of-type{
                margin-top: 2rem;
            }

            &:not(:last-of-type){
                margin-bottom: 2rem;
            }
        }
    }
}
/* end invest */

/* start achieve */
.achieve{
  .box{
    column-gap: 2rem;
    row-gap: 7rem;
  }
}
/* start achieve */

/* start meet */
.meet{
  .mainBtn{
    text-transform: uppercase;
  }
}
/* start meet */

/* start team */
.team{
  background-image: url(../assets/images/background_02.webp);
  background-position: center;
  .box{
    row-gap: 5rem;
  }
  
  &__person{
    text-align: center;
  }
  &__name{
    font-size: 2.2rem;
    text-transform: capitalize;
    margin: 1.5rem 0 .8rem;
  }
  &__job{
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
  }
}

/* ////////////// start welcome */
.welcome{
  margin-top: 5rem;
  .sectionTitle{
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__right{
    color: var(--white-color);
    padding: 5rem 4rem;
    background-color: #7ac043;
    border-radius: 5rem;
    
    svg{
      width: 4.7rem;
      height: 4.7rem;
      margin-bottom: 4.5rem;
  
      circle{
        fill: #fff;
      }
    }
  }

  &__label{
    margin-bottom: .3rem;
    font-size: 1.8rem;
  }

  &__semiLabel{
    margin-bottom: 3rem;
    font-size: 1.3rem;
  }

}


/* ////////////// end welcome */
/* end team */

/* start footer */

/* end footer */

/* start responsive */
// @media only screen and (min-width: 721px) {
 
  
// }

@media only screen and (max-width: 720.99px) {
  /* start invest */
  .invest__cart:first-child{
    margin-top: 0;
}
/* end invest */
}


//
//
/* end responsive */
