@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&family=Sansita+Swashed:wght@300;500&display=swap");
:root {
  /*  change here  */
  --inspiration-color: #008ed4;
  --slightly-black-color: #575757;
  --primary-color: #ed6436;
  --slight-primary-color: rgba(237, 100, 54, 0.5);
  --white-color: #fff;
  --very-slight-white-color: #efefef;
  --black-color: #000;
  --dark-white-color: #d8d8d8;
  --danger-color: #ff0b28;
  --site-padding: 7.8vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}

select,
input,
textarea {
  background: var(--white-color);
  outline: none;
  border: 1px solid #d0d0d0;
  border-radius: 0.7rem;
  overflow: hidden;
}
select:active,
input:active,
textarea:active {
  outline: none;
}

textarea {
  max-width: 100%;
}

input {
  padding: 1rem 1.3rem;
}

input[type=submit] {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.mainBtn {
  box-shadow: 0 0 0 4em var(--primary-color) inset;
  color: var(--white-color);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3rem;
  border-radius: 50px;
  border-top-left-radius: 0;
  transition: all 0.3s ease;
  padding: 5px 15px;
  text-align: center;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  position: relative;
  top: 0;
  display: inline-block;
}
.mainBtn:active {
  top: 1.2px;
}
.mainBtn:hover {
  box-shadow: 0 0 0 0 var(--primary-color) inset;
  color: var(--primary-color);
}

.side__title {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 1.3rem;
  position: relative;
}
.side__title::after {
  content: "";
  width: 40px;
  background-color: var(--primary-color);
  height: 0.4rem;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
}

body {
  background-color: var(--very-slight-white-color);
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 20px var(--dark-white-color);
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.imgContainer {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}

.logo {
  display: inline-block;
  width: 13rem;
}

.userForm {
  width: 600px;
  position: relative;
  box-shadow: 0 0 20px var(--dark-white-color);
  background-color: white;
  padding: 4rem 2.4rem 2.4rem;
  border-radius: 1rem;
  border-bottom: 4px solid var(--primary-color);
}
.userForm__img {
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1.5px solid var(--dark-white-color);
}
.userForm input, .userForm label {
  width: 100%;
}
.userForm__label {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}
.userForm input:not([type=submit]) {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
}
.userForm input[type=submit] {
  margin-top: 1rem;
}

.alert {
  font-size: 1.44rem;
  margin: 2rem 0 2.4rem;
}
.alert i {
  margin-right: 0.5rem;
  color: var(--danger-color);
}

@-webkit-keyframes shake {
  0% {
    left: 3px;
  }
  25% {
    left: -3px;
  }
  50% {
    left: 3px;
  }
  75% {
    left: -3px;
  }
  100% {
    left: 0;
  }
}

@keyframes shake {
  0% {
    left: 3px;
  }
  25% {
    left: -3px;
  }
  50% {
    left: 3px;
  }
  75% {
    left: -3px;
  }
  100% {
    left: 0;
  }
}
#locateMe {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  left: 0;
  padding: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0.7rem;
}
#locateMe * {
  display: inline-block;
}
#locateMe:hover {
  -webkit-animation: shake 0.4s ease-in-out;
          animation: shake 0.4s ease-in-out;
}

#locationInfo {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  margin: 1rem 0 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
#locationInfo.show {
  max-height: 100px;
}
#locationInfo img {
  width: 4rem;
}

@media only screen and (max-width: 950.99px) {
  /* general */
  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 830.99px) {
  /* general */
  html {
    font-size: 6.5px;
  }
}
@media only screen and (max-width: 630.99px) {
  .userForm {
    width: 90%;
  }
}/*# sourceMappingURL=account.css.map */