@charset "UTF-8";
/* start general css */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&family=Sansita+Swashed:wght@300;500&display=swap");
:root {
  /*  change here  */
  --inspiration-color: #008ed4;
  --slightly-black-color: #575757;
  --primary-color: #ed6436;
  --slight-primary-color: rgba(237, 100, 54, 0.5);
  --white-color: #fff;
  --very-slight-white-color: #efefef;
  --black-color: #000;
  --dark-white-color: #d8d8d8;
  --danger-color: #ff0b28;
  --site-padding: 7.8vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body.stop-scrolling {
  height: 100vh;
  padding-right: 17px;
  overflow: hidden;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}

select,
input,
textarea {
  background: var(--white-color);
  outline: none;
}
select:active,
input:active,
textarea:active {
  outline: none;
}

textarea {
  max-width: 100%;
}

input {
  padding: 3px 5px;
}

input[type=submit] {
  cursor: pointer;
}

img {
  max-width: 100%;
}

section {
  overflow: hidden;
}

.paddB-35 {
  padding-bottom: 3.5rem;
}

.paddTB-35 {
  padding: 3.5rem 0;
}

/* 
also recommended to do the following:
** new grid system
** login / sign like dribble
1- divide the site into styling similar components
2- set general font size to the p, all h elements p{font-size: 'value'rem}
3- set general line-height for p element (1.56 for example)
4- set *{transition : all .15s ease}
5- mixins (absolute centering, flex centering, click action>>position, top, cursor combination)
6- make classes for capitalize and uppercase;

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; //i need to see if this affects p so that i won't set it to p
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


*/
/* ∞∞ IE ∞∞ */
/* end general css */
/*start project related general css code*/
/* start slider */
/* Main Wrapper Container */
.container-slider {
  position: relative;
  max-width: 700px;
  border-radius: 20px;
  display: inline-block;
}

/* Slider Container which contains images */
.slides {
  position: relative;
}

/* Default Image Properties */
.slides__elmnt {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: none;
  transition: all 0.5s ease-in-out;
  transition-delay: 500ms;
}

/* Active Image or Current image to display */
.slides__elmnt[data-active=true] {
  display: block;
  transition-delay: 0ms;
}

/* Image Slider Next And Previous Buttons */
.btn-slide {
  position: absolute;
  background: #f1f1f1;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  border: 1px solid rgba(34, 34, 34, 0.287);
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

/* Show Buttons when user hover on the slider Container */
.container-slider:hover > .btn-slide {
  opacity: 1;
}

/* Previous and Next Button Position Absolute */
.prev,
.next {
  top: 50%;
  transform: translateY(-60%);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* Bottom Dots Container  */
.container-dots {
  position: absolute;
  bottom: -2.6rem;
  display: flex;
  justify-content: center;
  z-index: 10;
}

/* Sigle Dot style */
.dot {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: var(--black-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Change the color of bg when user hover on it. */
.dot:hover {
  opacity: 0.9;
  background: var(--slightly-black-color);
}

/* Current or active dot */
.dot[data-active=true] {
  background: var(--primary-color);
}

.sliderImages {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.sliderImages__img_div {
  cursor: pointer;
  border-bottom: 4px solid transparent;
}
.sliderImages__img_div[data-active=true] {
  border-bottom: 4px solid var(--primary-color);
}
.sliderImages__img_div:not([data-active=true]) {
  opacity: 0.5;
  transition: opacity 0.13 ease-in-out;
}
.sliderImages__img_div:not([data-active=true]):hover {
  opacity: 1;
  border-bottom: 4px solid var(--slight-primary-color);
}

/* end slider */
.transitionDelay_150 {
  transition-delay: 150ms !important;
}

.transitionDelay_300 {
  transition-delay: 300ms !important;
}

.translateOnScroll {
  position: absolute;
  transition: transform 0.6s ease-in-out;
}

.siteHeading {
  font-size: 7rem;
  font-weight: bold;
  margin-top: 12rem;
  line-height: 1.2;
}
.siteHeading span {
  display: block;
  color: var(--primary-color);
}

.sectionTitle {
  font-size: 5.2rem;
}

.sectionText {
  font-size: 1.7rem;
  margin: 2.2rem 0 4rem;
}

.main-container {
  max-width: 100%;
  padding: 0 var(--site-padding);
  margin: 0 auto;
  position: relative;
}

.mainBtn {
  box-shadow: 0 0 0 4em var(--primary-color) inset;
  color: var(--white-color);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3rem;
  border-radius: 50px;
  border-top-left-radius: 0;
  transition: all 0.3s ease;
  padding: 5px 15px;
  text-align: center;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  position: relative;
  top: 0;
  display: inline-block;
}
.mainBtn:active {
  top: 1.2px;
}
.mainBtn:hover {
  box-shadow: 0 0 0 0 var(--primary-color) inset;
  color: var(--primary-color);
}

.mainBtn2 {
  transform-origin: center center;
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.68, -0.57, 0.33, 1.56);
}
.mainBtn2:hover {
  transform: rotate(10deg);
}

.form__content {
  padding: 10px;
}
.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.33rem;
}
.form label:not(:first-of-type) {
  margin-top: 10px;
}
.form input:not([type=submit]) {
  border: 1px solid var(--dark-white-color);
}
.form input[type=submit] {
  width: 100%;
}
.form__error {
  color: var(--danger-color);
  font-size: 1.2rem;
  display: none;
}

.section__bottomSvg {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
}
.section__bottomSvg img {
  width: 100%;
  height: auto;
  display: block;
}

.headingComponent__semiHead {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.headingComponent__head {
  text-transform: capitalize;
  font-size: 4rem;
  margin-top: 2rem;
  text-transform: none;
}
.headingComponent__text {
  font-size: 1.7rem;
  margin: 2rem 0;
  max-width: 55rem;
}

.box {
  row-gap: 2.5rem;
}

header .headingComponent {
  padding-top: 17rem;
  color: var(--white-color);
}

.plusCart {
  border: 1.2px solid var(--very-slight-white-color);
  padding: 1.8rem;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}
.plusCart:not(:last-of-type) {
  margin-bottom: 2rem;
}
.plusCart:first-child {
  margin-top: 14rem;
}
.plusCart__left h2 {
  display: inline-block;
}
.plusCart.active {
  background-color: var(--very-slight-white-color);
}
.plusCart.active h2 {
  color: var(--primary-color);
}
.plusCart.active .plusCart__clickable + p {
  transition: max-height 0.8s ease;
  max-height: 900px;
}
.plusCart__leftIcon, .plusCart__rightIcon {
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.plusCart__leftIcon {
  background-color: lightgreen;
  margin-right: 1rem;
}
.plusCart__rightIcon {
  border: 1.3px solid var(--slightly-black-color);
}
.plusCart__clickable {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plusCart__clickable + p {
  padding-left: 5.3rem;
  font-size: 1.5rem;
  max-height: 0;
  position: relative;
  top: 1rem;
  overflow: hidden;
  transition: max-height 0.1s ease;
}

.polygon {
  position: relative;
}
.polygon .item__deco {
  fill: var(--very-slight-white-color);
}

.polygon__corner {
  position: absolute;
  width: 9rem;
  height: 9rem;
  right: 1.5rem;
  top: -4.5rem;
  border-radius: 50%;
  background-color: var(--white-color);
}

.polygon__inner {
  position: absolute;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.polygon__inner:hover a {
  bottom: 0;
}
.polygon__inner h2 {
  font-size: 2.55rem;
  color: var(--white-color);
}
.polygon__inner a {
  color: var(--white-color);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: 0.8s;
  bottom: -200px;
}
.polygon__inner a span {
  text-decoration: underline;
}
.polygon__inner a i {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.moving_svg {
  overflow: hidden;
}
.moving_svg, .moving_svg * {
  transition: all 1.6s cubic-bezier(0.61, -0.25, 0.1, 1.4);
  transform-origin: 50% 50%;
}
.moving_svg .alternate_path,
.moving_svg .alternate_g,
.moving_svg .alternate_image {
  visibility: hidden;
}

.piece1 svg {
  width: 7rem;
  height: 7rem;
}
.piece1__title {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 1.8rem 0;
  text-transform: uppercase;
}
.piece1__text {
  font-size: 1.5rem;
  line-height: 1.6;
}

.card1 {
  padding: 5rem 3rem;
  box-shadow: 0 5px 10px 2px var(--dark-white-color);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 4rem;
  height: 100%;
}
.card1:hover {
  box-shadow: none;
}
.card1 svg {
  width: 6rem;
  height: 6rem;
  margin-bottom: 4rem;
  display: inline-block;
}
.card1__title {
  font-size: 2rem;
}
.card1__text {
  font-size: 1.5rem;
  margin: 1.5rem 0 2.6rem;
}
.card1__link {
  color: var(--primary-color);
  font-size: 1.3rem;
  text-transform: uppercase;
}

.showNav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.welcome__piece {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
.welcome__piece svg {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin-right: 1.2rem;
}
.welcome__piece--title {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.welcome__piece--p {
  font-size: 1.4rem;
  max-width: 44rem;
  line-height: 1.5;
}
.welcome__piece--p:not(:first-of-type) {
  margin-top: 0.5rem;
}

.contPaddLeft {
  padding-left: var(--site-padding);
}

.contPaddRight {
  padding-right: var(--site-padding);
}

/*end project related general css code*/
/* start nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__close {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 var(--site-padding);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  transition: padding 0.6s ease-in-out;
}
.nav-container.showNav {
  left: 50%;
  max-width: 2000px;
  transform: translateX(-50%);
  position: fixed;
  background-color: var(--white-color);
}

.darkBackForNav .nav__item {
  color: var(--white-color);
}
.darkBackForNav .nav__nested--item {
  color: var(--slightly-black-color);
}
.darkBackForNav .alternateNav i {
  color: var(--white-color);
}
.darkBackForNav.showNav .nav__item {
  color: var(--slightly-black-color);
}
.darkBackForNav.showNav .nav .nav__logo {
  display: inline-block;
  height: 4.4vw;
  background-image: url(../assets/images/logo-green.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.darkBackForNav.showNav .nav .nav__logo img {
  display: none;
}

.alternateNav {
  display: none;
}

.nav__logo {
  width: 13rem;
}

.nav__list {
  display: flex;
  position: relative;
}

.nav__item {
  text-transform: capitalize;
  color: var(--slightly-black-color);
  font-weight: bold;
  font-size: 1.7rem;
  position: relative;
}
.nav__item:not(:last-of-type) {
  margin-right: 30px;
}

.nav__icon {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 2px 3px;
  border-radius: 1.2px;
}
.nav__icon::before {
  position: relative;
}
.nav__icon:hover::before {
  top: 0.6px;
}

.nav__nested {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  z-index: 1;
  background-color: var(--white-color);
  min-width: 20rem;
  max-width: 190px;
  max-height: 0;
  overflow: hidden;
  transition: box-shadow 0.3s ease-out, max-height 0.4s ease;
}

.nav__nested.open {
  box-shadow: 0 5px 10px 2px var(--slightly-black-color);
  max-height: 500px;
}

.nav__nested--items-box {
  padding: 1rem 2.3rem;
}

.nav__nested--item {
  border-bottom: 1px solid var(--very-slight-white-color);
  padding: 0.7rem 0 2px;
}
.nav__nested--item:not(:first-of-type) {
  padding-top: 1.7rem;
}
.nav__nested--item a {
  display: block;
  transition: color 0.1s ease;
}
.nav__nested--item a:hover {
  color: var(--primary-color);
}

.nav__under {
  width: 5.2rem;
  position: absolute;
  display: inline-block;
  bottom: -1.5rem;
  left: -0.2rem;
  background-color: var(--primary-color);
  height: 5px;
  transition: all 0.1s ease;
}
.nav__under span {
  position: absolute;
  display: inline-block;
  background-color: var(--primary-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.nav__under--1 {
  top: -4px;
  left: -4px;
}
.nav__under--2 {
  bottom: -4px;
  left: -4px;
}
.nav__under--3 {
  bottom: -4px;
  right: -4px;
}
.nav__under--4 {
  top: -4px;
  right: -4px;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__user {
  margin-left: 30px;
  position: relative;
}

.nav__person {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.nav__log {
  background-color: var(--slight-primary-color);
  position: relative;
  padding: 2px 10px;
  cursor: pointer;
}
.nav__log p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white-color);
  text-transform: capitalize;
}
.nav__log.clicked .custom-shape-divider-bottom-1646521459 {
  height: 0%;
}

.nav__form-container {
  position: absolute;
  top: 105%;
  right: 0;
  overflow: hidden;
  background-color: var(--white-color);
  border-radius: 6px;
  max-height: 0;
  transition: box-shadow 0.3s ease-out, max-height 0.4s ease;
}
.nav__form-container.open {
  max-height: 900px;
  box-shadow: 0 5px 10px 2px var(--slightly-black-color);
}

.nav__form[name=signUpForm] {
  display: none;
}

.form__showPassword {
  display: flex;
  align-items: center;
  margin: 5px 0 15px;
}
.form__showPassword input {
  margin-bottom: 0;
  margin: 0 5px 0 0;
}
.form__showPassword label {
  display: inline-block;
  margin-bottom: 0;
}

.formSplit {
  display: flex;
  justify-content: space-between;
}

.formSplit__item {
  text-align: center;
  flex-basis: 50%;
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  padding: 5px 0;
}
.formSplit__item.active {
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}
.formSplit__item:not(.active) {
  transition: border-color 0.12s ease, color 0.12s ease;
}
.formSplit__item:not(.active):hover {
  border-color: rgba(237, 100, 54, 0.4);
  color: rgba(237, 100, 54, 0.8);
}

.form__splitter {
  position: relative;
  width: 100%;
  border-top: 1.7px solid var(--dark-white-color);
  margin: 20px 0;
}

.form__splitter--circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.7px solid var(--dark-white-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.form__social {
  display: block;
  padding: 4px 6px;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.2rem;
}
.form__social:first-of-type {
  margin-top: 25px;
}
.form__social.fb {
  background-color: #0054f7;
}
.form__social.twitter {
  background-color: #00acee;
}
.form__social:not(:last-of-type) {
  margin-bottom: 5px;
}

/* login shape */
.custom-shape-divider-bottom-1646521459 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
  height: 100%;
  transition: height 0.2s ease;
}

.custom-shape-divider-bottom-1646521459 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100%;
}

.custom-shape-divider-bottom-1646521459 .shape-fill {
  fill: #ed6436;
}

/* end nav */
/* start footer */
.footer {
  margin-top: 3rem;
}
.footer .box {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 5rem;
}
.footer__list {
  display: flex;
  margin-top: 3rem;
}
.footer__item {
  color: var(--white-color);
  font-size: 2rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.footer__item:not(:last-of-type) {
  margin-right: 2rem;
}
.footer__div {
  display: flex;
  flex-direction: column;
}
.footer__title {
  text-transform: capitalize;
  color: var(--primary-color);
  font-size: 2.6rem;
  margin-bottom: 1.3rem;
}
.footer__link {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
}
.footer__link:hover {
  color: var(--slight-primary-color);
}
.footer__link i {
  margin-right: 0.8rem;
  color: var(--primary-color);
}
.footer__link:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__contact {
  text-transform: uppercase;
}

/* end footer */
/* start grid */
.box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.box__left--70 {
  grid-column: 1/9;
}
.box__right--30 {
  grid-column: 9/13;
}
.box__left--30 {
  grid-column: 1/5;
}
.box__right--70 {
  grid-column: 5/13;
}
.box__left--50 {
  grid-column: 1/7;
}
.box__right--50 {
  grid-column: 7/13;
}
.box__left--40 {
  grid-column: 1/6;
}
.box__right--60 {
  grid-column: 6/13;
}
.box__right--40 {
  grid-column: 8/13;
}
.box__left--60 {
  grid-column: 1/8;
}
.box__left--33 {
  grid-column: 1/5;
}
.box__middle--33 {
  grid-column: 5/9;
}
.box__right--33 {
  grid-column: 9/13;
}
.box__left--25 {
  grid-column: 1/4;
}
.box__middle1--25 {
  grid-column: 4/7;
}
.box__middle2--25 {
  grid-column: 7/10;
}
.box__right--25 {
  grid-column: 10/13;
}

.boxOf2 > div:first-of-type {
  padding-right: 10px;
}
.boxOf2 > div:last-of-type {
  padding-left: 10px;
}

/* end grid */
/* start responsive */
@media only screen and (max-width: 1170.99px) {
  /* general */
  .sectionTitle {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 980.99px) {
  .sectionTitle {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 950.99px) {
  /* general */
  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 830.99px) {
  /* general */
  html {
    font-size: 6.5px;
  }
}
@media only screen and (min-width: 721px) {
  /* start nav */
  .whiteNav .nav__item {
    color: var(--white-color);
  }
  .whiteNav .nav__nested--item {
    color: var(--slightly-black-color);
  }
  .whiteNav .alternateNav i {
    color: var(--white-color);
  }

  .showNav {
    padding: 2rem var(--site-padding);
  }

  /* end nav */
}
@media only screen and (max-width: 720.99px) {
  /* global */
  .noPaddLeftInMobile {
    padding-left: 0 !important;
  }

  .piece1 {
    text-align: center;
  }

  .card1 {
    text-align: center;
  }
  .card1 svg {
    margin-bottom: 1rem;
  }

  /* responsive */
  .responseBox {
    grid-template-columns: 1fr;
  }
  .responseBox > div {
    grid-column: auto;
    width: 60%;
    margin: 0 auto;
  }

  .boxOf2 {
    grid-template-columns: 1fr;
  }
  .boxOf2 > div:first-of-type, .boxOf2 > div:last-of-type {
    grid-column: 1/13;
    padding-right: 0;
  }

  /* responsive */
  .box__left--50, .box__right--50 {
    grid-column: 1/13;
  }

  /* start polygon */
  .polygon__inner a {
    bottom: 0;
  }

  /* end polygon*/
  /* start boxOf2MainRight */
  .boxOf2MainRight .box__item:first-of-type,
.boxOf2MainLeft .box__item:first-of-type {
    padding-right: var(--site-padding) !important;
  }
  .boxOf2MainRight .box__item:last-of-type,
.boxOf2MainLeft .box__item:last-of-type {
    padding-left: var(--site-padding) !important;
  }

  /* end boxOf2MainRight */
  /* start nav */
  .darkBackForNav .nav__item {
    color: var(--slightly-black-color);
  }
  .darkBackForNav .nav .nav__logo {
    display: inline-block;
    width: 85px;
    height: 40px;
    background-image: url(../assets/images/logo-green.webp);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .darkBackForNav .nav .nav__logo img {
    display: none;
  }
  .darkBackForNav.showNav .nav .nav__logo {
    width: 85px;
    height: 40px;
  }
  .darkBackForNav.showNav .alternateNav i {
    color: var(--slightly-black-color);
  }
  .darkBackForNav.showNav .alternateNav .nav__logo {
    display: inline-block;
    width: 85px;
    height: 40px;
    background-image: url(../assets/images/logo-green.webp);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .darkBackForNav.showNav .alternateNav .nav__logo img {
    display: none;
  }

  /* end nav */
  .nav {
    flex-direction: column;
    width: 200px;
    position: fixed;
    left: -240px;
    top: 0;
    align-items: flex-start;
    padding: 15px;
    height: 100vh;
    justify-content: flex-start;
    box-shadow: 0 5px 10px 2px var(--dark-white-color);
    transition: left 0.3s ease;
    background-color: var(--white-color);
    transform: none;
  }
  .nav.open {
    left: 0;
  }
  .nav__close {
    display: block;
    position: absolute;
    font-size: 4.2rem;
    top: 1rem;
    right: -4rem;
    cursor: pointer;
    color: var(--slightly-black-color);
  }

  nav.alternateNav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  nav.alternateNav i {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
  }

  .nav__logo {
    display: inline-block;
  }

  .nav__right {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .nav__list {
    flex-direction: column;
    width: 100%;
  }

  .nav__item {
    width: 100%;
    border-bottom: 3px solid transparent;
    display: flex;
    padding: 2px 0;
    transition: border-bottom-color 0.17s ease;
  }
  .nav__item a {
    flex: 1;
  }
  .nav__item i {
    min-width: 30px;
    text-align: center;
  }
  .nav__item.active {
    border-bottom: 3px solid var(--primary-color);
  }

  .nav__item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .nav__nested {
    transform: none;
    left: 0;
    right: 0;
  }

  .nav__user {
    margin-left: 0;
    position: absolute;
    right: 15px;
    top: 20px;
  }
  .nav__user .nav__log {
    transform: translateY(50%);
  }

  .nav__form-container {
    right: auto;
    top: 156%;
    right: -40px;
  }

  .nav__under {
    display: none;
  }

  /* end navs */
  /* start footer */
  .footer__div {
    align-items: center;
  }

  /* end footer */
}
@media only screen and (max-width: 450.99px) {
  /* responsive */
  .responseBox > div {
    width: 100%;
  }
}
/* end responsive *//*# sourceMappingURL=common.css.map */