:root {
  /*  change here  */
  --inspiration-color: #008ed4;
  --slightly-black-color: #575757;
  --primary-color: #ed6436;
  --slight-primary-color: rgba(237, 100, 54, .5);
  --white-color: #fff;
  --very-slight-white-color: #efefef;
  --black-color: #000;
  --dark-white-color: #d8d8d8;
  --danger-color: #ff0b28;
  --site-padding: 7.8vw;
}

@media only screen and (max-width: 1130px) {
  // happy section
  .happy__title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 940px) {
  // happy section
  .happy__title {
    font-size: 5rem;
    span {
      display: inline-block;
    }
  }

  .happy {
    .box__left--60,
    .box__right--40 {
      grid-column: 1 / 13;
    }
  }

  .happy__right {
    padding-left: var(--site-padding);
  }

  //prices
  .prices .box{
    gap:2rem
  }
  .price_card.special{
    transform: scale(1);
  }
}

@media only screen and (max-width: 890px) {
  /* general */
  html {
    font-size: 8px;
  }

  /* responsive */
  .box {
    &__left--25,
    &__middle2--25 {
      grid-column: 1 / 7;
    }
    &__middle1--25,
    &__right--25 {
      grid-column: 7 / 13;
    }
  }
  /* cards section */
  .cards {
    .box {
      gap: 3rem;
      grid-template-rows: max-content;
    }
  }
}

@media only screen and (max-width: 790px) {
  /* general */
  html {
    font-size: 6.5px;
  }
}

@media only screen and (max-width: 670px) {
  /* start navs */
  .nav {
    flex-direction: column;
    width: 200px;
    position: fixed;
    left: -240px;
    top: 0;
    align-items: flex-start;
    padding: 15px;
    height: 100vh;
    justify-content: flex-start;
    box-shadow: 0 5px 10px 2px var(--dark-white-color);
    transition: left 0.3s ease;
    background-color: var(--white-color);
    transform: none;

    &.open {
      left: 0;
    }

    &__close {
      display: block;
      position: absolute;
      font-size: 4.2rem;
      top: 1rem;
      right: -4rem;
      cursor: pointer;
      color: var(--slightly-black-color);
    }
  }
  .alternateNav {
    display: flex;
    align-items: center;
    width: 85%;

    i {
      font-size: 20px;
      margin-right: 15px;
      cursor: pointer;
    }
  }
  .nav__logo {
    display: inline-block;
  }

  .nav__right {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .nav__list {
    flex-direction: column;
    width: 100%;
  }

  .nav__item {
    width: 100%;
    border-bottom: 3px solid transparent;
    display: flex;
    padding: 2px 0;
    transition: border-bottom-color 0.17s ease;
    a {
      flex: 1;
    }
    i {
      min-width: 30px;
      text-align: center;
    }

    &.active {
      border-bottom: 3px solid var(--primary-color);
    }
  }

  .nav__item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .nav__nested {
    transform: none;
    left: 0;
    right: 0;
  }

  .nav__user {
    margin-left: 0;
    position: absolute;
    right: 15px;
    top: 20px;
    .nav__log {
      transform: translateY(50%);
    }
  }

  .nav__form-container {
    right: auto;
    top: 156%;
    right: -40px;
  }

  .nav__under {
    display: none;
  }
  /* end navs */

  /* start services1 */
  .services1,
  .cards, .prices, .footer {
    .box {
      grid-template-columns: 1fr;

      & > div {
        grid-column: auto;
        width: 60%;
        margin: 0 auto;
      }
    }
  }

  .service__inner {
    a {
      bottom: 0;
    }
  }

  /* end services1 */

  /* start ex section */
  .ex {
    .box__left--40,
    .box__right--60 {
      grid-column: 1 / 13;
    }

    .view__left {
      padding-right: var(--site-padding) !important;
    }

    .view__right {
      padding-left: var(--site-padding) !important;
    }
  }
  /* end ex section */
}
