:root {
    /*  change here  */
    --inspiration-color: #008ed4;
    --slightly-black-color: #575757;
    --primary-color: #ed6436;
    --slight-primary-color: rgba(237, 100, 54, 0.5);
    --white-color: #fff;
    --very-slight-white-color: #efefef;
    --black-color: #000;
    --dark-white-color: #d8d8d8;
    --danger-color: #ff0b28;
    --site-padding: 7.8vw;
  }
/* start header */

  .viewServices{
    min-height: 100vh;
    background-image: url(../assets/images/servicesHeader.webp);
    background-size: cover;

    .mainBtn2{
        margin-top: 2rem;
    }

    &__p{
            font-size: 1.7rem;
            margin: 2rem 0;
            max-width: 60rem;
    }
}
/* end header */


/* start servs */
.servs{

    .box{
        row-gap: 7rem;
    }
    &__top{
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__svg{
        display: inline-block;
        border-right: 1.2px solid var(--slightly-black-color);
        padding-right: 1.6rem;
        margin-right: 1.6rem;

        svg{
            width: 6rem;
            height: 6rem;

        }
    }

    &__title{
        font-size: 2.7rem;
        text-transform: capitalize;
        transition: color .12s ease;

        &:hover{
            color: var(--primary-color);
        }
    }

    &__item{
        font-size: 1.4rem;

        &:not(:last-of-type){
            margin-bottom: 1rem;
        }

        &:hover{
            i{
                color: var(--slightly-black-color);
            }
        }

        i{
            margin-right: .8rem;
            color: lightgreen;
        }
    }
}
/* end servs */

/* start cats */
.cats{

    &__title{
        margin-bottom: 3rem;
        span{
            display: inline-block;
        }
    }


    &__left{
        position: relative;
    }
    &__positioned{
        right: 5vw;
        max-width: 30%;
    }
}
/* end cats */

/* start addon */
.sectionMiddleHeading{
    text-align: center;
    h4{
        text-transform: uppercase;
        font-size: 1.5rem;
        color: var(--primary-color);
        margin-bottom: 1.8rem;
    }

    h2{
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}

/* end addon */

/* start dogs */
.dogs{

    .sectionTitle{
        margin-bottom: 3rem;

    }
}
/* end dogs */


////////////////////////////////
/* start single-service page */

.singleSec1{
    .box{
        column-gap: 1.2rem;
    }
}

/* start singleSec2 */
.singleSec2{
    // background-color: #ddd;

    .sectionTitle{
        margin-top: 0;
        font-size: 4rem;
    }

    &__text{
        margin-top: 3rem;
        font-size: 1.5rem;
        line-height: 1.6;
    }
    .plusCart{
        &:first-child{
            margin-top: 0;
        }
    }
}
/* end singleSec2 */

/* start more */
.more{
    .box{
        -moz-column-gap: 3rem;
        column-gap: 3rem;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
    }
    .sectionLeftHeadingBlack{
        font-size: 3.6rem;
        margin-bottom: 2.6rem;
        text-transform: capitalize;
    }
}
/* end more */
/* end single-service page */